.top-bar {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 21;

	@include breakpoint(medium up){
		padding-left: 20px;
	}
	

	&.small-bar {
		@include breakpoint(medium up){
			display: none;
		}

		@include xy-grid;

		.small-cell {
			@include xy-cell(50%);

			&.left-side {
				text-align: right;

				#offcanvas-menu-trigger,  #offcanvas-menu-close{
					display: none;

					&.active {
						display: inline-block;
					}
					
					i {
						color: $primary-red;
						font-size: 25px;
					}
				}
			}
		}
	}

	&.medium-up-bar {
		display: none;

		@include breakpoint(medium up){
			display: flex;
		}
	}

	body.home & {
		height: 70px;
	}

	.blog-name {
		font-family: $lora-b;
		font-size: 24px;
		height: 100%;		
	}

	&-left {
		height: 100%;
		padding-top: 13px;

		@include breakpoint(medium up){
			body.home & {
				padding-top: 17px;
			}
		}
	}

	&-right {
		height: 100%;

		.menu {
			height: 100%;
			&-item {
				height: 100%;
				padding-top: 13px;

				&:hover {
					background-color: $dark-accent;

					a {
						color: $white;
					}
				}

				@include breakpoint(medium up){
					body.home & {
						padding-top: 17px;
					}
				}

				a {
					height: 100%;
					display: inline-block;
					font-family: $lora-reg;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 16px;
				}
			}

			.current-menu-item {
				background-color: $light-gray;

				&:hover {
					background-color: $dark-accent;

					a {
						color: $primary-red;
					}
				}

				a {
					background-color: transparent;
					color: $primary-red;
				}
			}
		}
	}

}



//Off-Canvas Menu Styling
#offcanvas-menu {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	max-height: 0;
	background-color: $white;
	z-index: 20;
	
	text-align: center;
	transition: max-height ease-in-out 1000ms;
	overflow: hidden;

	@include breakpoint(medium up){
		display: none;
	}

	&.active {
		max-height: 1000px;
		height: auto;
	}

	ul {
		padding-top: 10px;
	}
}