body.page-template-template-representation {
	position: relative;

	.legal-section {
		@include xy-grid();
		padding-top: 25px;
		max-width: 900px;
		margin: auto;
		padding-bottom: 45px;

		@include breakpoint(medium up){
			padding: 85px 0 80px;
		}

		.left-section {
			display: block;
			margin: auto;
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(4);
				margin-top: initial;
				margin-bottom: initial;
				//padding-left: 8%;
			}

			.section-title {
				text-align: center;
				font-size: 25px;
				color: $primary-red;
				
				@include breakpoint(medium up){
					text-transform: uppercase;
					font-size: 35px;
					text-align: left;	
				}
			}
		}

		.right-section {
			padding: 0px 15px;
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(8);
				p {
					font-size: 15px;
				}
			}
		}
	}

	.lawyer-wrap {
		background-color: $light-gray;
		padding-top: 25px;
		padding-bottom: 45px;

		@include breakpoint(medium up){
			padding-top: 70px;
		}

		.section-title {
			text-align: center;
			font-size: 25px;
			color: $dark-accent; 

			@include breakpoint(medium up){
				text-transform: uppercase;
				font-size: 35px;	
			}
		}
	}

	.lawyers {
		@include xy-grid();
		
		max-width: 1200px;
		margin: auto;

		@include breakpoint(medium up){
			padding-top: auto;
			padding: 40px 0 80px;
		}

		.lawyer {
			@include xy-cell(12);
			padding: 10px 0;

			@include breakpoint(medium up){
				@include xy-cell(4);
			}

			&:hover {
				cursor: pointer;
			}

			.name {
				margin-bottom: 0;
				text-align: center;

				@include breakpoint(medium up){
					font-size: 25px;
				}
			}

			.main-img {
				margin: auto;
				display: block;
			}

			.main-popup {
				display: none;
				position: fixed;
				z-index: 31;
				background-color: $white;
				top: 15px;
				bottom: 15px;
				left: 15px;
				right: 15px;

				@include breakpoint(medium up){
					top: 50%;
					left: 10%;
					right: 10%;
					bottom: auto;
					overflow: unset;
					transform: translateY(-50%);
					height: 400px;
				}

				.clear {
					clear: both;
				}

				&.active {
					display: block;
				}

				.lawyers-popup-close {
					position: absolute;
					top: 10px;
					right: 10px;
					color: $white;
					font-size: 35px;
					cursor: pointer;

					@include breakpoint(medium up){
						color: $black;
						top: 20px;
						right: 20px;
					}
				}

				.popup-left {
					min-height: 200px;
					background-position: top;
					background-size: cover;
					background-repeat: no-repeat;

					@include breakpoint(medium up){
						width: 50%;
						float: left;
						min-height: inherit;
						height: 400px;
					}
				}

				.popup-right {
					padding: 15px;

					@include breakpoint(medium up){
						width: 49%;
						float: right;
						padding: 25px 40px;
						overflow: scroll;
						height: 400px;

						p {
							font-size: 14px;
						}
					}

					.name {
						text-align: left;
					}
				}
			}
		}

	}	

	.blurb-section {
		max-width: 800px;
		margin: auto;
		padding: 45px 15px;

		@include breakpoint(medium up){
			padding: 65px 0;
		}

		p {
			text-align: center;

			@include breakpoint(medium up){
				font-size: 20px;
			}
		}
	}

}