body.page-template-template-members-only {
	.user-logged-out {
		@include xy-grid();
		max-width: 1000px;
		padding: 30px 0;
		margin: auto;

		.message-container {
			@include xy-cell(12);
		}
	}

	.user-logged-in {
		.dashboard-container {
			@include xy-grid();
			padding: 30px 0;
			max-width: 1000px;
			margin: auto;

			@include breakpoint(medium up){
				padding: 50px 0;
			}


			.dashboard-section {
				@include xy-cell(12);
				padding-bottom: 15px;

				@include breakpoint(medium up){
					@include xy-cell(6);

				}

				@include breakpoint(large up){
					@include xy-cell(4);
				}

				&:last-child {
					padding-bottom: 0;
				}

				&.dash-links a {
					display: block;
					padding-bottom: 10px;
					margin-left: 10px;

					@include breakpoint(medium up){
						margin-left: 0;
					}
				}

				p {
					margin-bottom: 0;
					text-align: center;
				}

				.section-title {
					color: $dark-accent;
					font-size: 25px;
					letter-spacing: 1px;

					@include breakpoint(medium up){
						text-align: center;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}