body.page-template-template-officers {
	position: relative;

	.officers {
		@include xy-grid();
		padding-top: 15px;
		max-width: 1200px;
		margin: auto;

		@include breakpoint(medium up){
			padding-top: auto;
			padding: 40px 0 80px;
		}

		.officer {
			@include xy-cell(12);
			padding: 10px 0;

			@include breakpoint(medium up){
				@include xy-cell(4);
			}

			&:hover {
				cursor: pointer;
			}

			.name, .title {
				margin-bottom: 0;
				text-align: center;

				@include breakpoint(medium up){
					font-size: 25px;
				}
			}

			.title {
				font-size: 16px;

			}

			.main-img {
				margin: auto;
				display: block;
			}

			.main-popup {
				display: none;
				position: fixed;
				z-index: 31;
				background-color: $white;
				top: 15px;
				bottom: 15px;
				left: 15px;
				right: 15px;

				@include breakpoint(medium up){
					top: 50%;
					left: 10%;
					right: 10%;
					bottom: auto;
					overflow: unset;
					transform: translateY(-50%);
					height: 400px;
				}

				.clear {
					clear: both;
				}

				&.active {
					display: block;
				}

				.officers-popup-close {
					position: absolute;
					top: 10px;
					right: 10px;
					color: $black;
					font-size: 35px;
					cursor: pointer;

					@include breakpoint(medium up){	
						top: 20px;
						right: 20px;
					}
				}

				.popup-left {
					display: none;
					
					@include breakpoint(medium up){
						display: inline-block;
						width: 50%;
						float: left;
						min-height: inherit;
						height: 400px;
						background-position: top;
						background-size: cover;
						background-repeat: no-repeat;
					}
				}

				.popup-right {
					padding: 15px;

					@include breakpoint(medium up){
						width: 49%;
						float: right;
						padding: 25px 40px;
						overflow: scroll;
						height: 400px;

						p {
							font-size: 14px;
						}
					}

					.name, .title {
						text-align: left;
					}

					.title {
						padding-bottom: 20px;
					}
				}
			}
		}


	}	

}


#dim-overlay {
	display: none;
	position: fixed;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.active {
		display: block;
	}
}