.pb {
	&-section {
		padding: 10px 10px;

		&:first-child {
			padding-top: 40px;

			@include breakpoint(medium up){
				padding-top: 80px;
			}
		}

		&:last-child {
			padding-bottom: 40px;

			@include breakpoint(medium up){
				padding-top: 80px;
			}
		}

		@include breakpoint(medium up){
			padding: 25px 30px;
		}
	}

	&-wysiwyg {
		@include xy-grid();
		max-width: 1200px;
		margin: auto;

		.text-holder {
			@include xy-cell(12);
		}
	}

	&-fw-vid {
		max-width: 1200px;
		margin: auto;

		@include breakpoint(medium up){
			padding: 25px 50px;
		}
	}

	&-img-left {
		max-width: 1200px;
		margin: auto;
		@include xy-grid();

		.img-l {
			min-height: 400px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(6);
			}
		}

		.text-r {
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(6);
			}
		}
	}

	&-three-col {
		max-width: 1200px;
		margin: auto;
		@include xy-grid();
		padding-top: 40px;

		.col-section {
			padding: 0 10px;
			padding-bottom: 10px;
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(4);
				padding: 0 20px;
			}

			&:last-child {
				padding-bottom: 0;
			}

			img {
				padding-bottom: 15px;
			}
		}
	}

	&-fw-img {
		min-height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 0;
		margin: 10px 0;
	}

	&-fw-quote {
		max-width: 1200px;
		margin: auto;

		.quote {
			text-align: center;
			color: $dark-accent;
			font-family: $lora-b;
			font-size: 30px;

			@include breakpoint(medium up){
				font-size: 50px;
			}
		}	

		.attribution {
			text-align: right;
			font-size: 20px;
			color: $dark-accent;

			@include breakpoint(medium up){
				font-size: 35px;
			}
		}
	}

	&-two-col {
		max-width: 1200px;
		margin: auto;
		@include xy-grid();

		.text-l, .text-r {
			@include xy-cell(12);

			@include breakpoint(medium up){
				@include xy-cell(6);
			}
		}

		
	}
}